@import url(default.css);

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #333;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.privacy-content {
    margin: 0 auto;
    margin-top: 150px;
    padding: 2rem 1rem;
}
.section {
    margin-bottom: 2rem;
}