@import url(scrollanimation.css);


header {
    /* background-image: linear-gradient(190deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.0)), url('../imgs/header.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

header .subtitle {
    font-size: 2.3rem;
    margin-bottom: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.cta-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 494px) {
    .cta-buttons {
        display: block;
    }

    .cta-buttons .btn {
        margin-top: 15px;
    }
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}

.primary-btn {
    border: 2px solid var(--main);
    background-color: var(--main);
    color: var(--white);
}

.secondary-btn {
    border: 2px solid var(--white);
    color: var(--white);
    background-color: transparent;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: var(--main-hover-dark);
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Videohoz */
header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

header .container {
    z-index: 1;
    width: 100%;
    padding: 0 20px;
}


.header-button {
    border: 2px solid var(--button);
    background-color: var(--button);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    transition: all 0.2s ease;
}

.header-button:hover {
    transform: translateY(-2px);
    background-color: var(--button-hover);
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px){
    header h1{
        font-size: 3.1rem;
    }
}

/* Training */
@media (max-width: 767px){
    #tanfolyamok{
        overflow: hidden;
    }
}

.training h2 {
    margin: 45px 0 23px 0;
}

.training div div div {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.training div div div:first-child:hover {
    transform: scale(1.05);
}

.training div div img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.training div div div div {
    padding: 18px 15px;
}

.training div div div div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.33s;
}

.training div div div div a:hover i {
    margin-left: 4px;
}

.training div div div div a:hover {
    color: var(--main);
}

.training div div div div h3 {
    font-size: 155%;
    margin-top: 1rem;
}

.training p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    flex-grow: 1;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
    /* Kitölti a helyet, hogy az alsó tartalom fixen lent legyen */
}


/* About US */

.about_us{
    overflow: hidden;
}

.about_us div div div:last-child img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 12px;
}


.about_us p {
    font-size: 1.24rem;
    text-align: justify;
}

@media (max-width:767px) {
    .about_us div div div:last-child{
        margin-top: 25px;
    }
}

/* Why choose */

.why-choose-full{
    overflow: hidden;
}


.why-choose div div:last-child div {
    padding: 8px 13px;
    border-radius: 12px;
}

.why-choose div div:first-child img {
    border-radius: 12px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.why-choose div div:last-child div span {
    font-weight: bold;
    font-size: 140%;
}

.why-choose div div:last-child div p {
    font-size: 130%;
}

.why-choose div div:last-child div div:hover {
    background-color: rgba(141, 141, 141, 0.221);
    cursor: pointer;
}

/* Contact */

.contact-info {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.208);
    border-radius: 12px;
    margin-top: 25px;
}

.contact-info div {
    padding: 15px;
    padding-left: 55px;
    padding-bottom: 30px;
}

.contact-info div h3 {
    margin-top: 18px;
    font-size: 155%;
}

.contact-info div span {
    font-size: 120%;
    margin-top: 10px;
}

.contact-info div span span{
    color: rgb(85, 85, 85);
    font-size: 80%;
}

.contact-info div a {
    text-decoration: underline;
    color: black;
    transition: 0.2s;
}

.contact-info div a:hover {
    color: var(--main);
}

.contact-info table tr td:first-child {
    font-weight: bold;
}

.contact-info table td {
    width: 100px;
    font-size: 1.18rem;
}

.contact-info div span {
    font-size: 120%;
}


.openHours {
    color: rgb(9, 151, 9);
}

.closeHours {
    color: rgb(255, 30, 30);
}

.openingSoon,
.closingSoon {
    color: rgb(255, 145, 0);
}

.openingTime {
    font-size: 70% !important;
    font-style: italic;
}

/* Contatcts */

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 35px 0 75px 0;
    ;
    background: var(--dark-layout);
    white-space: nowrap;
    position: relative;
    color: var(--white);
}

.logos h2 {
    margin-bottom: 3.8rem !important;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    /* width: 75px; */
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* .logos-slide:hover {
    animation-play-state: paused;
  } */

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}

.logos h2 {
    text-align: center;
    margin: 25px 10px;
}