.adr {
    margin-top: 150px;
    margin-bottom: 45px;
    /* padding: 2rem; */
    background-color: #fff;
    border-radius: 12px;
    /* box-shadow: 0 0px 9px 1px rgba(0, 0, 0, 0.25); */
}

.adr-data {
    padding: 1.5rem;
}

.header-img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
    object-position: 50% 95%;
}


.container h1,
.container h2 {
    color: var(--main);
}

h1 {
    font-size: 3.4rem;
}

ul {
    padding-left: 1.2rem;
}

.adr section:nth-child(3) ul {
    list-style-type: none;
}

.highlight {
    background-color: #e0f2f1;
    padding: 0.5rem 1rem;
    border-left: 4px solid var(--main);
    margin: 1rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #ffc58f;
}

.adr-img {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.pdf-link {
    margin-top: 1rem;
    display: inline-block;
    background: var(--main);
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}


section {
    margin: 0 !important;
}

.application {
    color: var(--white);
    background-color: var(--main);
    border: 0;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 140%;
    margin: auto;
    transition: 0.2s;
}

.application:hover {
    background-color: var(--main-hover);
}



/* appliaction form */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 140px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--main);
    color: var(--white) !important;
    margin-bottom: 40px;
}

.modal-body {
    padding: 2px 16px;
}

